[submodule "themes/harbor"]
	path = themes/harbor
	url = https://github.com/matsuyoshi30/harbor.git
[submodule "themes/zen"]
	path = themes/zen
	url = https://github.com/frjo/hugo-theme-zen.git
[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = https://github.com/alanorth/hugo-theme-bootstrap4-blog.git
