<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <p>Weekly Tech Newsletter.</p>
            </div>
            <div class="footer-col footer-col-2">
            </div>
            <div class="footer-col footer-col-3">
                <p>Follow me:</p>
                <p>
                    <a href="https://twitter.com/junkpiano"><i class="fab fa-twitter"></i></a>
                    <a href="https://instagram.com/junkpiano"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/junkpiano"><i class="fab fa-github"></i></a>
                    <a href="https://medium.com/@junkpiano"><i class="fab fa-medium"></i></a>
                    <a href="https://500px.com/junkpiano"><i class="fab fa-500px"></i></a>
                </p>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
var links = document.links;
for (var i = 0, linksLength = links.length; i < linksLength; i++) {
    if (links[i].hostname != window.location.hostname) {
        links[i].target = '_blank';
    }
}
</script>