<section class="container page">
    <article>
            <div class="window">
                <div class="title-bar">
                    <div class="title-bar-text">{{ .Title }}</div>
                    <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Maximize"></button>
                        <button aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body">
                    <p>{{ .Content }}</p>
                </div>
            </div>
    </article>
</section>