header a {
    color: #ffffff;
}

.container {
    margin: 0 auto;
    max-width: 90.0rem;
    padding-left: 2.0rem;
    padding-right: 2.0rem;
}

.container img {
    max-width: 100%;
}

pre {
    overflow: auto;
}
